# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-Learn
4. Matplotlib

Some of the commonly used tools used by Data Scientists include:
1. Tenserflow
2. Tableau
3. Apache Spark
4. Excel

# Arithmetic Expressions
Here are some arithmetic examples:

In [1]:
# Multiply and Add numbers
a = 4
b = 8
c = a + b #addition
d = a*b #multiplication

In [2]:
c

12

In [3]:
d

32

In [4]:
# Convert minutes to hours
minutes = 120
hours = minutes/60
print(hours)

2.0

Objectives for Data Science:-
find patterns in data
Practice coding with Python
Understand arithmetic expressions and conversions

## Author
Amey Kulkarni